body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}


.card {
    background-color: #1e1e1e;
    border: none;
    color: #fff;
}

.form-control,
.form-select {
    background-color: #2c2c2c;
    color: #fff;
    border: 1px solid #444;
}

.form-control:focus,
.form-select:focus {
    background-color: #2c2c2c;
    color: #fff;
    border-color: #888;
    box-shadow: none;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

a {
    color: #0d6efd;
}

a:hover {
    color: #66b2ff;
}